*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width:100%;
}


.AN {
    background: #111111;
}
.DN {
    color: #111111;
}

.AD {
    background:#222;
}
.DD {
    color:#222;
}

.AO {
    background:orange;
}
.DO {
    color:orange;
}

.AB {
    background: lightgray;
}
.DB {
    color:lightgray;
}




.logo {
    width: 35%;
    margin-bottom:2rem;
}

.flexB {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.contenu{
    width:100%;
    margin:0 auto;
    padding:2rem 2rem 0;
    max-width:1000px;
}

header a h1 {
    font-weight: 400;
    font-size:2.5rem;    
}

nav {
    align-items:flex-end;
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navT {
    width:100%;
    padding:2rem;
    border:1px solid #222;
}

.enregistrement {
    width:100%;
    font-size:1rem;
    transition:all 0.2s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
}

.enregistrement:hover {
color:moccasin;
}

.enregistrement p {
    margin-left:1rem;
}

nav h2 {
    font-weight:400;
    font-size:2.5rem;
}

.navB {
    width:100%;
    display:flex;
    justify-content: space-between;  
}

.navC {
    padding:1rem;
    font-size: 1rem;
    transition:all 0.2s ease-in-out;
    display:block;
    text-align:center; 
}

.navB li{
   width:100%;
} 

.navC:hover {
    background:moccasin;
}

.trait {
    border-left:1px solid #222;
    border-right:1px solid #222;
}


.blocP {
    width:100%;
    padding:2rem 2rem 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.padP{
    padding:0 2rem;
}

.padIC {
    padding:0 2rem;
}

.choix {
    width:40%;
    margin:1rem;
    text-align:center;
    position:relative;
}

.fiche {
    width:6rem;
    border-radius:1rem;
    position:absolute;
    top:5%;
    right:-10%;
    padding:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
}

.titre {
    position:relative;
    top: -2rem;
    font-weight:bold;
    font-size:1.5rem;
}

.vision {
   padding:1rem 2rem;
   font-size:1rem
}

.vision:hover {
    background: moccasin;
    color:#222;
}

.reduction {
    align-self: flex-start;
    text-decoration:line-through; 
}

.prix {
    font-weight: bolder;
    font-size:3rem;
}

footer {
    width:100%;
    height:50rem;
    position:relative;
}

.navF {
    display:flex;
    justify-content: center;
    width:40rem;
    margin:0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    background-color: oldlace;
}

.FL {
    font-size: 1.5rem;
    margin:1rem;
    transition:all 0.2s ease-in-out;
}

.barreS {
    width:100%;
    height:2rem;  
}


.HF {
    top:-4rem;
    position:relative;
}

.iconB {
    display:flex;
    justify-content: space-between;
    width: 60%;
    margin:0 auto;

}
.iconI {
    width:20%;
}
.iconI Img {
    margin:0 auto;
}
.iconI p {
    text-align:center;
    font-size:1.4rem;
}
.BoxF {
    width:20%;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.BoxF a {
    margin:1rem;
}

.TexteF {
  text-align:center;
}

@media screen and (max-width:768px) {
    .fiche {
        right:-1.5rem;
    }
    
    .choix {
        width:38rem;
    }
   
}


